<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		<link rel="stylesheet" href="./css/index.css">
	</head>
	<body>
		<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
		<script type="module" src="./js/index.js"></script>
		<div class="content-container h-dvh" id="login">
			<div id="main-content" class="content-list items-center justify-center">
				<span class="text-3xl lg:text-5xl text my-4">🍪Calorie Tracker🍪</span>
				<div class="error-popup text p-3 my-3" v-if="!errorMessage.empty" id="error">{{errorMessage.message}}</div>
				<div class="module-background lg:w-1/2 flex flex-col gap-2 text p-3">
					<label class="mx-2" for="username">Email:</label>
					<input class="dialog-input mx-2" type="text" v-model="loginCreds.email">
					<label class="mx-2" for="password">Password:</label>
					<input class="dialog-input mx-2" type="password" v-model="loginCreds.password">
					<span class="justify-end mx-2"><button @click="login" class="btn btn-confirm">Login</button></span>
				</div>
			</div>
		</div>
	</body>
</html>
